# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
instance/
.webassets-cache

# Docker y Base de datos (¡Muy importante!)
/data/postgres/
.env
*.log

# Entorno de desarrollo local
.DS_Store
.vscode/
.idea/